<% include partials/header.ejs %>

	<body>
		<div class="container">

			<div class="row">
				<h1>Do you or your dog have a problem finding delicious fresh beer?</h1>
				<h1>Do you find yourselves pining for refreshment "from the tap"?</h1>
					<h2> Would you like to be liked around people like you who like the same kinds of stuff you like when you're liking it?</h2>

				<h1>OK! Enter a City and Search for your next beverage</h1>
				<a href="/signup">
					<h2>BUTTON LINK</h2>
				</a>
			</div>

			<div class="row">
				<div class="col-md-6 col-md-offset-3">
					<img src=url("http://img.wallpaperstock.net:81/bar-scene-wallpapers_23187_1920x1200.jpg")>
					
				</div>
			</div>

		</div>

	</body>
</html>




