<% include partials/header  %>

</head>
	<style>

	</style>
  <body>
  	<div>
    <h1>Search by City (aka City of Beer)</h1>
	    <form action="/search">
	      <input type="text" name="searchTerm">
	      <input type="submit">
	    </form>
    </div>
  </body>
</html>