<% include partials/header  %>

  <body>
	  <div class="container">

	  	<div class="row">
    		<h1>Search by City (aka City of Beer)</h1>
	    		<form action="/search">
	      	<input type="text" name="searchTerm">
	      	<input type="submit">
	    	</form>
	    </div>
			
   		<div class="row">
   			<div class="homebackground">
   			<p></p>
   			</div>
   		</div>

    </div>
  </body>
</html>