<% include partials/header  %>

  <body>
	  <div class="container">

	  	<div class="row">

		  	<div class="text-center btn-center col-med-4">
		  		<h1>Do you or your dog have a problem finding delicious fresh beer?</h1>
					<h1>Do you find yourselves pining for refreshment "from the tap"?</h1>
						<h2> Would you like to be liked around people like you who like the same kinds of stuff you like when you're liking it?</h2>

					<h1>OK! Enter a City and Search for your next beverage</h1>
	    		<h1>Search by City (aka City of Beer)</h1>
		    		<form action="/search">
		      	<input type="text" name="searchTerm">
		      	<input type="submit">
		    	</form>
		    </div>	
	    </div>
			


    </div>
  </body>
</html>