body { 
	margin:0; 
	padding:0; 
	color:white;
	background: rgba(102,72,37,1);
	background: -moz-linear-gradient(top, rgba(102,72,37,1) 0%, rgba(102,72,37,1) 1%, rgba(227,140,41,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(102,72,37,1)), color-stop(1%, rgba(102,72,37,1)), color-stop(100%, rgba(227,140,41,1)));
	background: -webkit-linear-gradient(top, rgba(102,72,37,1) 0%, rgba(102,72,37,1) 1%, rgba(227,140,41,1) 100%);
	background: -o-linear-gradient(top, rgba(102,72,37,1) 0%, rgba(102,72,37,1) 1%, rgba(227,140,41,1) 100%);
	background: -ms-linear-gradient(top, rgba(102,72,37,1) 0%, rgba(102,72,37,1) 1%, rgba(227,140,41,1) 100%);
	background: linear-gradient(to bottom, rgba(102,72,37,1) 0%, rgba(102,72,37,1) 1%, rgba(227,140,41,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#664825', endColorstr='#e38c29', GradientType=0 );
	}



#map { 
	position:fixed; 
	top:18%; 
	bottom:0; 
	width:500px; 
	height:500px;
 }

.homebackground {
	background-image: url("http://img.wallpaperstock.net:81/bar-scene-wallpapers_23187_1920x1200.jpg");
 	background-size: cover;
 	background-repeat: no-repeat;
  background-opacity: 0.1;
  color: white;
  height: auto;
}

.jumbotron {
  background-image: url("http://img.wallpaperstock.net:81/bar-scene-wallpapers_23187_1920x1200.jpg");
  background-size: cover;
  height: auto;
}